<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Courtesy/Stair Lights 1</string>
	<string>ENG 1 Fire Extinguishing (BTL B1)</string>
	<string>ENG 2 Fire Extinguishing (BTL B2)</string>
	<string>Fuel Shutoff Valve 2</string>
	<string>Hydraulic Shutoff Valve 2</string>
</array>
</plist>
