<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ELT Control Panel</string>
	<string>ENG 1 Fire Extinguishing (BTL A1)</string>
	<string>ENG 2 Fire Extinguishing (BTL A2)</string>
	<string>Pressure Refueling 3</string>
	<string>Fuel Shutoff Valve 1</string>
	<string>Hydraulic Shutoff Valve 1</string>
	<string>APU Control</string>
</array>
</plist>
